rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function getIn(collection, id) {
      return get(/databases/$(database)/documents/$(collection)/$(id));
    }

    function isFollowing(userId) {
      return (
        request.auth.uid != null &&
        getIn(/follows, /$(userId)/from/$(request.auth.uid)).data.status == 'accepted'
      );
    }

    function isOwner(resourceOwnerId) {
      return request.auth != null && request.auth.uid == resourceOwnerId;
    }

    match /{document=**} {
      allow read: if false;
      allow write: if false;
    }

    match /users/{userId} {
      allow read: if true;

      match /feed/{postId} {
        allow read: if isOwner(userId);
      }

      match /notifications/{notificationId} {
        allow read: if isOwner(userId);
      }
    }

    match /follows/{toUserId}/from/{fromUserId} {
      function includesMe() {
        return request.auth != null && (fromUserId == request.auth.uid || toUserId == request.auth.uid);
      }

      function belongsToFollowed() {
        return request.auth != null && (
          isFollowing(fromUserId) || isFollowing(toUserId)
        );
      }

      allow read: if (
        includesMe() ||
        (resource.data.status == 'accepted' && belongsToFollowed())
      );
    }

    match /intentions/{intentionId} {
      allow read: if (isOwner(resource.data.userId) || isFollowing(resource.data.userId));
    }

    match /posts/{postId} {
      allow read: if (isOwner(resource.data.userId) || isFollowing(resource.data.userId));

      match /comments/{commentId} {
        function canRead() {
          let postUserId = getIn(/posts, /$(postId)).data.userId;

          return (isOwner(postUserId) || isFollowing(postUserId));
        }

        allow read: if canRead();
      }
    }
  }
}
